<br />
<h2 class="text-center">Inventory List using Telerik Kendo UI Grid</h2>
<br />
<!-- <p>
  <button (click)="exportToPDF(grid)">Export Grid to PDF...</button>
</p>
&nbsp;
<p>
  <button (click)="exportToExcel(grid)">Export Grid to Excel...</button>
</p>
<br /> -->
<div class="container-fluid">
  <kendo-grid
    #grid
    [data]="gridView"
    [pageSize]="pageSize"
    [pageable]="{
      buttonCount: buttonCount,
      info: info,
      type: type,
      pageSizes: pageSizes,
      previousNext: previousNext
    }"
    [skip]="skip"
    [sortable]="true"
    [sort]="sort"
    [filterable]="true"
    [resizable]="true"
    [reorderable]="true"
    [columnMenu]="true"
    [selectable]="selectableSettings"
    [selectedKeys]="mySelection"
    [kendoGridSelectBy]="mySelectionKey"
    [height]="710"
    style="width: 100%;"
    (sortChange)="sortChange($event)"
    (pageChange)="pageChange($event)"
    (dataStateChange)="dataStateChange($event)"
    (edit)="editHandler($event)"
  >
    <ng-template kendoGridToolbarTemplate>
      <button class="k-button" (click)="grid.autoFitColumns()">
        Auto-fit all columns
      </button>
      &nbsp;
      <button type="button" kendoGridExcelCommand icon="file-excel">
        Export to Excel
      </button>
      &nbsp;
      <button kendoGridPDFCommand icon="file-pdf">Export to PDF</button>
    </ng-template>
    <kendo-grid-checkbox-column
      showSelectAll="true"
      [locked]="true"
      [width]="10"
    ></kendo-grid-checkbox-column>

    <kendo-grid-command-column
      title="Edit"
      [width]="10"
      [locked]="true"
      [columnMenu]="false"
    >
      <ng-template kendoGridCellTemplate>
        <button
          class="ui-button-raised ui-button-rounded"
          kendoGridEditCommand
          [primary]="true"
        >
          <i class="fa fa-edit"></i>
        </button>
      </ng-template>
    </kendo-grid-command-column>

    <kendo-grid-column
      field="serialNumber"
      title="Serial Number"
      [width]="20"
      [minResizableWidth]="10"
      [locked]="true"
      [columnMenu]="false"
    ></kendo-grid-column>

    <kendo-grid-column
      field="dateAcquired"
      title="Acquired Date"
      [width]="30"
      filter="date"
      format="{0:d}"
      [minResizableWidth]="10"
      [columnMenu]="false"
    ></kendo-grid-column>

    <kendo-grid-column
      field="ttnmAccount"
      title="TTNM Account"
      [width]="30"
      [minResizableWidth]="10"
      [columnMenu]="false"
    >
    </kendo-grid-column>
    <kendo-grid-column
      field="ttnmGroup"
      title="TTNM Group"
      [width]="30"
      [minResizableWidth]="10"
      [columnMenu]="false"
    >
    </kendo-grid-column>

    <kendo-grid-column
      field="vehicleAssociationStatus"
      title="Association Status"
      [width]="30"
      [minResizableWidth]="10"
      [columnMenu]="false"
    >
    </kendo-grid-column
    >}}"
    <kendo-grid-column
      field="associationStartDate"
      title="Association Start Date"
      [width]="30"
      [minResizableWidth]="10"
      [columnMenu]="false"
    >
    </kendo-grid-column>
    <kendo-grid-column
      field="associationEndDate"
      title="Association End Date"
      [width]="30"
      [minResizableWidth]="10"
      [columnMenu]="false"
    >
    </kendo-grid-column>
    <kendo-grid-column
      field="assetPossession"
      title="Asset Possession"
      [width]="30"
      [minResizableWidth]="10"
      [columnMenu]="false"
    ></kendo-grid-column>
    <kendo-grid-column
      field="assetStatus"
      title="Asset Status"
      filter="numeric"
      [width]="20"
      [minResizableWidth]="10"
      [columnMenu]="false"
    ></kendo-grid-column>

    <kendo-grid-column
      field="assetAge"
      title="Asset Age"
      [width]="30"
      [minResizableWidth]="10"
      [columnMenu]="false"
    >
    </kendo-grid-column>
    <kendo-grid-column
      field="assetUseTime"
      title="Asset Use Time"
      [width]="30"
      [minResizableWidth]="10"
      [columnMenu]="false"
    >
    </kendo-grid-column>
    <kendo-grid-column
      field="dateRetired"
      title="Retired Date"
      [width]="30"
      filter="date"
      format="{0:d}"
      [minResizableWidth]="10"
      [columnMenu]="false"
    ></kendo-grid-column>

    <kendo-grid-column
      field="vin"
      title="VIN"
      [width]="30"
      [minResizableWidth]="10"
      [columnMenu]="false"
    >
    </kendo-grid-column>
    <kendo-grid-column
      field="vehicleStatus"
      title="Vehicle Status"
      [width]="30"
      [minResizableWidth]="10"
      [columnMenu]="false"
    >
    </kendo-grid-column>
    <kendo-grid-column
      field="busNumber"
      title="Bus Number"
      [width]="30"
      [minResizableWidth]="10"
      [columnMenu]="false"
    >
    </kendo-grid-column>
    <kendo-grid-column
      field="licensePlate"
      title="License Plate"
      [width]="30"
      [minResizableWidth]="10"
      [columnMenu]="false"
    >
    </kendo-grid-column>
    <kendo-grid-column
      field="vehicleType"
      title="Vehicle Type"
      [width]="30"
      [minResizableWidth]="10"
      [columnMenu]="false"
    >
    </kendo-grid-column>
    <kendo-grid-column
      field="modelYear"
      title="Model Year"
      [width]="30"
      [minResizableWidth]="10"
      [columnMenu]="false"
    >
    </kendo-grid-column>
    <kendo-grid-column
      field="vehicleAge"
      title="Vehicle Age"
      [width]="30"
      [minResizableWidth]="10"
      [columnMenu]="false"
    >
    </kendo-grid-column>
    <kendo-grid-column
      field="sbcName"
      title="SBC Name"
      [width]="30"
      [minResizableWidth]="10"
      [columnMenu]="false"
    >
    </kendo-grid-column>
    <kendo-grid-column
      field="sbcCode"
      title="SBC Code"
      [width]="30"
      [minResizableWidth]="10"
      [columnMenu]="false"
    >
    </kendo-grid-column>
    <kendo-grid-column
      field="vehicleOwner"
      title="Vehicle Owner"
      [width]="30"
      [minResizableWidth]="10"
      [columnMenu]="false"
    >
    </kendo-grid-column>

    <kendo-grid-column
      field="garage"
      title="Garage"
      [width]="30"
      [minResizableWidth]="10"
      [columnMenu]="false"
    >
    </kendo-grid-column>

    <kendo-grid-excel
      fileName="{{ myFileName }}"
      [fetchData]="allData"
    ></kendo-grid-excel>

    <kendo-grid-pdf
      fileName="{{ myFileNamePdf }}"
      [allPages]="false"
      paperSize="A4"
      [repeatHeaders]="true"
      [landscape]="true"
      [scale]="0.8"
    >
      <kendo-grid-pdf-margin
        top="2cm"
        left="1cm"
        right="1cm"
        bottom="2cm"
      ></kendo-grid-pdf-margin>
      <ng-template
        kendoGridPDFTemplate
        let-pageNum="pageNum"
        let-totalPages="totalPages"
      >
        <div class="page-template">
          <div class="header">
            <div style="float: right">
              Page {{ pageNum }} of {{ totalPages }}
            </div>
            {{ myFileTitle }}
          </div>
          <div class="footer">Page {{ pageNum }} of {{ totalPages }}</div>
        </div>
      </ng-template>
    </kendo-grid-pdf>
  </kendo-grid>
</div>
