


<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col">
                <section class="filter-wrapper">
                <div class="keyword-wrapper">
                <input [formControl]="queryField" type="text" id="keyword" placeholder="search vin..." autofocus/>
                  </div>
                <ul class="filter-select">
                  <li *ngFor="let result of results" class="filter-select-list"><img src="{{result.images['2']?.url}}" alt="" width="50" height="50"><p class="artist-name">
                    {{result.name}}</p>

                    <span class="tags" *ngFor='let vin of result  | slice:0:6'>{{vin}}</span>
                </ul>
                </section>
                <br>
                <br>

                Search:
                <p-autoComplete [(ngModel)]="text" [suggestions]="results3"  [dropdown]="true" (completeMethod)="search($event)"></p-autoComplete>
                  <br>
                <br>
                <div>
               <button type="button" class="btn btn-primary"  (click)="clickMe()">Get Vehicle Info</button>
                <br/>
                <p><strong>{{msg}}</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>



