



<div class="container-fluid" style="width: 100%;">

<div class="card" style="width: 100%; margin-top: 50px">
  <div class="card-header">
    <h2 text-align="center">
    Inventory List using PrimeNG Data Table Control
    </h2>

  </div>
  <div text-align="left" style="width: 100%; margin-top: 10px;margin-left: 30px">
        <span> Reset All Filters: </span> <button type="button" pButton (click)="resetTable(dt)"  class="ui-button-warning" label="Reset"></button>
      </div>
  <div class="card-body">

      <p-table  #dt [columns]="selectedColumns" [value]="inventory"
              sortMode="multiple"
              [paginator]="true"
              [rows]="selectPageSize"
              [scrollable]="true"
              [style]="{width:'100%'}" scrollHeight="600px"
              selectionMode="multiple" [(selection)]="selectedInventory"
              [resizableColumns]="true" columnResizeMode="fit"
              [reorderableColumns]="true"
              stateStorage="session" stateKey="inventoryState"
              dataKey="serialNumber">

          <ng-template pTemplate="caption">
              <tr>
                <td style="width:20px"></td>
                <td>
                <div class="ui-helper-clearfix">
                      <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                                  selectedItemsLabel="{0} columns selected" [style]="{minWidth: '150px'}"
                                  defaultLabel="Choose Columns"></p-multiSelect>
                  </div>
                </td>
                <td style="width:20px"></td>
                <td style="width:200px">
                  <div class="ui-helper-clearfix">
                      <i class="fa fa-search" style="margin:2px 2px 2px 2px"></i>
                      <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')"
                          style="width:150px">
                  </div>
                </td>
                <td style="width:20px"></td>
                <td>
                    <div class="ui-helper-clearfix">
                    <span> Page Size: </span>     &nbsp; <p-dropdown [options]="pageSize" [(ngModel)]="selectPageSize"></p-dropdown><br>
                    <small class="text-muted">
                        &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;Max Page Size: 500
                    </small>
                    </div>
                </td>
                <td style="width:20px"></td>
                <td>
                  <div class="ui-helper-clearfix" >
                        <span> Export (CSV): </span>

                        <button class="btn btn-info" type="button" pButton class="ui-button-raised ui-button-rounded"
                          label="All" (click)="dt.exportCSV()"></button> &nbsp;

                        <button class="btn btn-info" type="button" pButton  class="ui-button-raised ui-button-rounded"
                          label="Selection Only" (click)="dt.exportCSV({selectionOnly:true})"></button>
                    </div>
                </td>
                <td style="width:20px"></td>
                <td >
                  <div class="ui-helper-clearfix">
                    <span> Go to Page: </span>     &nbsp; <p-dropdown [options]="pageNumber" [(ngModel)]="currentPageNumber"></p-dropdown><br>
                    <small class="text-muted">
                        &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;Max Page Size: 500
                    </small>
                    </div>
                </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="colgroup" let-columns>
                  <colgroup>
                      <col *ngFor="let col of columns" [style.width]="col.width">
                  </colgroup>
          </ng-template>

          <ng-template pTemplate="header" let-columns>
              <tr>
                  <th style="width: 40px; margin:2px 2px 2px 2px">
                      <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                  </th>
                  <th style="width: 50px; margin:2px 2px 2px 2px">
                  </th>
                  <th *ngFor="let col of columns" style="width:200px"  [pSortableColumn]="col.field"  pResizableColumn pReorderableColumn>
                      {{col.header}}
                      <p-sortIcon [field]="col.field"></p-sortIcon>
                  </th>
              </tr>
              <tr>
                  <th style="width: 50px">
                  </th>
<th style="width: 40px">
                  </th>
                  <th *ngFor="let col of columns" style="width:200px" [ngSwitch]="col.field" class="ui-fluid">
                         <input pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                          [value]="dt.filters[col.field]?.value">
                  </th>
              </tr>
          </ng-template>


          <ng-template pTemplate="body" let-rowData let-columns="columns" let-ri="rowIndex">
              <tr [pSelectableRow]="rowData">

                  <td style="width: 40px" >
                      <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                  </td>
                  <td style="width: 50px" >
                      <p-button width="20px" label="" icon="fa fa-edit" (onClick)="editAsset('/asset',rowData)" class="ui-button-raised"></p-button>
                  </td>
                 <td *ngFor="let col of columns; let i = index; " style="width:200px" class="ui-resizable-column">
                        <span>{{rowData[col.field]}}</span>
                  </td>
              </tr>
          </ng-template>

          <!--
            Currrent: {{rowData[col.field]}} - Next: {{(inventory[ri][col.field] !== inventory[+ri+1][col.field])? 'Not' : 'Equal'}}
          <ng-template pTemplate="footer" let-columns>
              <tr>
                  <td style="width: 30px" >
                  </td>
                  <td *ngFor="let col of columns">
                  {{col.header}}
                  </td>
              </tr>
          </ng-template>
          -->

          <ng-template pTemplate="summary">
              <p>There are total {{inventory?.length}} inventory</p>
              <ul>
                  <li *ngFor="let inventory of selectedInventory" style="text-align: left">
                      {{'SerialNumber: ' + inventory.serialNumber + ' - VIN: ' + inventory.vin + ' - ModelYear: ' + inventory.modelYear + ' - Garage: ' + inventory.garage}}
                  </li>
              </ul>
          </ng-template>
      </p-table>
  </div>
</div>
</div>



<!--for history - highlighting:-->
<!--
                        <span *ngIf="col.header!=='serialNumber'"  [ngClass]="{
                                      'positive' :  inventory[ri][col.field] === inventory[+ri+1][col.field],
                                      'negative' : inventory[ri][col.field] !== inventory[+ri+1][col.field]
                                  }">{{rowData[col.field]}}</span>
-->





